// Place all the styles related to the api/companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.companies-header {
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 14px;
  display: block;
}

.company-result-item {
  border-bottom: 1px solid #ccc;
  padding: 14px 0;
}

.company-results-container {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
  box-sizing: border-box;
  padding: 14px;
}

.company-nav-block {
  float: right;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.rating-summary {
  color: #7CB228;
  display: inline-block;
  float: left;
  font-weight: 500;
  font-size: 20px;
  padding: 14px;
}

.company-name {
  font-size: 20px;
  display: block;
}

.company-nav {
  display: flex;
  flex-direction: column;
  transition: background-color 250ms linear;
  border-right: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.company-nav:hover {
  background-color: #F1F1F1;
  text-decoration: none;
  cursor: pointer;
}

.company-nav a:hover {
  text-decoration: none;
  color: #016DA3;
}

.anchor-nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-right a {
  color: #fff;
  background: #2c84cc;
  box-shadow: 0 2px 0 0 #336c9b;
  text-align: center;
  padding: 0 21px;
  display: inline-block;
  transition: background 200ms;
  border-radius: 3px;
  line-height: 2.5em;
  font-weight: 500;
  position: relative;
  top: -15px;
}

.info-right a:hover {
  background: #016da3;
  color: #fff;
  text-decoration: none;
}

.company-detail-container {
  max-width: 1000px;
  width: 80%;
  margin: 14px auto;
}

.company-header {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
  background-color: #fff;
  position: relative;
  margin-bottom: 14px;
  display: block;
}

.company-overview {
  margin-bottom: 14px;
  width: calc(67% - 14px);
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
  background-color: #fff;
  position: relative;
  margin-bottom: 14px;
  padding: 14px;
}

.reviews {
  width: calc(67% - 14px);
  position: relative;
  max-height: 400px;
  margin-bottom: 14px;
  padding: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
  background-color: #fff;
}

.salaries {
  position: relative;
  width: calc(67% - 14px);
  max-height: 400px;
  margin-bottom: 14px;
  padding: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
  background-color: #fff;
}

.company-sidebar {
  position: relative;
  float: right;
  width: 33%;
  margin-bottom: 14px;
  padding: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
  background-color: #fff;
}

.company-description {
  position: relative;
  width: calc(67% - 14px);
  max-height: 400px;
  margin-bottom: 14px;
  padding: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
  background-color: #fff;
}

.company-header-nav {
  float: left;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.company-cover {
  background: linear-gradient(200deg, rgba(124,178,40,0.9) 0%, rgba(80,179,226,0.9) 100%);
  height: 185px;
  width: 100%;
}

.info-div .logo-container {
  float: left;
  box-sizing: border-box;
}

.info-div h2 {
  float: left;
  box-sizing: border-box;
  padding: 14px 14px 14px 28px;
  display: inline-block;
  font-weight: 500;
}

.header-review {
  display: inline-block;
  float: right;
  padding: 14px 0;
}

.header-review a {
  color: #fff;
  background: #2c84cc;
  box-shadow: 0 2px 0 0 #336c9b;
  text-align: center;
  padding: 0 21px;
  display: inline-block;
  transition: background 200ms;
  border-radius: 3px;
  line-height: 2em;
  font-weight: 500;
  position: relative;
  font-size: 14px;
  top: 10px;
}

.header-review a:hover {
  background: #016da3;
  color: #fff;
  text-decoration: none;
}

.detail-anchor-nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: block;
  width: 100%;
  float: left;
  padding: 0 14px;
}

.overview-table {
  display: flex;
  flex-wrap: wrap;
  line-height: 1em;
  font-size: 14px;
  width: 100%;
  padding-top: 14px;
}

.row {
  padding: 0 7px 7px 0;
  width: 50%;
  line-height: 1em;
  display: flex;
  justify-content: space-around;
}

.key {
  width: 120px;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
}

.value {
  width: 120px;
  text-align: right;
}









.text-overlay {
  position: absolute;
  top: 50px;
  left: 250px;
  font-weight: 500;
  font-size: 26px;
  font-family: 'Helvetica Neue';
}
