// Place all the styles related to the api/postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posting-results-container {
  max-width: 1280px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
  box-sizing: border-box;
  position: relative;
}

.jobs-header {
  display: inline-block;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  position: relative;
  z-index: 3;
  background: #fff;
}

.posting-results-list {
  float: left;
  width: 33%;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  background: #fff;
}

.posting-result-title {
  color: #0065C4;
  font-size: 16px;
}

.posting-result-title:hover {
  color: #004687;
  text-decoration: underline;
}

.filters {
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #aaa;
  font-weight: 300;
  font-size: 12px;
  line-height: 2em;
}

.posting-detail-container {
  width: 67%;
  float: left;
  box-sizing: border-box;
  background-color: #eaeaea;
}

.posting-result-item {
  margin: 0;
  width: 100%;
  max-width: 427px;
  min-height: 90px;
  max-height: 131px;
  border-bottom: 1px solid #DEDEDE;
  padding: 0 14px;
  display: flex;
  align-content: space-between;
  box-sizing: border-box;
}

.posting-result-item:last-child {
  border-bottom-width: 0;
}

.posting-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 14px 0 14px 14px;
}

.img-box {
  padding-top: 14px;
}

.posting-result-item img {
  width: 50px;
  height: 50px;
  border: 1px solid #DEDEDE;
  padding: 2px;
}

.posting-result-item:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

.detail-header {
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
}

.cover-window {
  background: linear-gradient(200deg, rgba(124,178,40,0.9) 0%, rgba(80,179,226,0.9) 100%);
  height: 65px;
  width: 100%;
}

.detail-info {
  display: flex;
}

.logo-container {
  padding: 14px;
  width: 100px;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.logo-container img {
  border-radius: 2px;
  background-color: #fff;
  width: 90px;
  height: 90px;
  padding: 3px;
  border: 1px solid #DEDEDE;
  position: relative;
  margin-top: -60px;
  z-index: 2;
}

.info {
  display: inline-block;
  width: 100%;
  padding: 14px 14px 0 28px;
}

.info-left {
  display: inline-block;
  float: left;
  font-weight: 300;
  font-size: 13px;
  color: #aaa;
}

.info-left h3 {
  font-weight: 500;
  font-size: 16px;
}

.info-right {
  display: inline-block;
  float: right;
  color: #aaa;
  font-weight: 300;
  font-size: 12px;
}

.anchor-nav {
  display: block;
  width: 100%;
  float: left;
}

.nav {
  display: inline-block;
  float: left;
}

.nav a {
  padding: 14px 14px 14px 14px;
  display: inline-block;
  border-right: 1px solid #eaeaea;
  color: #016DA3;
  transition: background-color 300ms linear;
}

.nav a:hover {
  background-color: #F1F1F1;
  text-decoration: none;
}
.nav-active {
  background-color: #fbfbfb;
  border-bottom: 3px solid #50b3e2;
  padding-bottom: 11px;
  color: #404040;
}

.anchor {
  display: inline-block;
  float: right;
  padding: 0 14px 0 0;
}

.apply {
  color: #fff;
  background: #2c84cc;
  box-shadow: 0 2px 0 0 #336c9b;
  text-align: center;
  padding: 0 21px;
  display: inline-block;
  transition: background 200ms;
  border-radius: 3px;
  line-height: 2.5em;
  font-weight: 500;
}

.apply:hover {
  background: #016da3;
  color: #fff;
  text-decoration: none;
}

.disabled {
  color: #404040;
  background: #f1f1f1;
  box-shadow: 0 2px 0 0 #ccc;
  border: 1px solid #ccc;
}

.disabled:hover {
  text-decoration: none;
  background: #f1f1f1;
  cursor: not-allowed;
  color: #404040;
}
.save {
  color: #404040;
  border: 1px solid #ccc;
  border-bottom-width: 0;
  box-shadow: 0 2px 0 0 #ccc;
  background: #f1f1f1;
  text-align: center;
  padding: 0 14px;
  display: inline-block;
  transition: background 200ms;
  border-radius: 3px;
  line-height: 2.5em;
  margin-left: 14px;
  font-weight: 500;
}

.save:hover{
  background-color: #e4e4e4;
  text-decoration: none;
  color: #404040;
}

.unsave {
  color: #404040;
  border: 1px solid #ccc;
  border-bottom-width: 0;
  box-shadow: 0 2px 0 0 #ccc;
  background: #f1f1f1;
  text-align: center;
  padding: 0 14px;
  display: inline-block;
  transition: background 200ms;
  border-radius: 3px;
  line-height: 2.5em;
  margin-left: 14px;
  font-weight: 500;
}

.unsave:hover{
  background-color: #e4e4e4;
  text-decoration: none;
  color: #404040;
}

.detail-content {
  background: #eaeaea;
}

.detail-content .company-overview {
  margin-bottom: 0;
}

.description {
  font-size: 14px;
  padding: 14px;
  background-color: #fff;
  margin: 14px 0;
  display: block;
  overflow-y: hidden;
  width: 100%;
  box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
}

.blur {
  filter: blur(10px);
  opacity: .5;
}

.blur-overlay {
  position: absolute;
  top: 45%;
  left: 42.5%;
  text-align: center;
}

.blur-overlay h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.blur-overlay div {
  margin: 0 auto;
  font-weight: 300;
  font-size: 12px;
  width: 50%;
}

.standalone-detail-container {
  width: 70%;
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box;
}

.standalone-detail-container .posting-detail-container {
  max-width: 100% !important;
  border: 0;
}

.posting-results-container:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 33%;
  width: 2px;
  background: #ccc;
  height: 100%;
}
