// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rev-input {
  width: 75%;
  height: 30px;
  padding: 3px 7px;
  line-height: 16.8px;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: middle;
  color: #404040;
  box-shadow: inset 0 1px 0 0 #d0d0d0;
  border-radius: 2px;
  border: 1px solid #ccc;
  outline: none;
  -webkit-transition: box-shadow 0.25s, border-color 0.25s;
  transition: box-shadow 0.25s, border-color 0.25s;
  display: inline-block;
}

.rev-input:focus {
  border-color: #2c82c7;
  box-shadow: inset 0 1px 0 0 #d0d0d0,0 0 1px 1px rgba(44,130,199,0.6);
}

.review-form textarea {
  width: 100%;
  height: 100px;
  padding: 3px 7px;
  line-height: 16.8px;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: middle;
  color: #404040;
  box-shadow: inset 0 1px 0 0 #d0d0d0;
  border-radius: 2px;
  border: 1px solid #ccc;
  outline: none;
  -webkit-transition: box-shadow 0.25s, border-color 0.25s;
  transition: box-shadow 0.25s, border-color 0.25s;
  display: inline-block;
}

.review-form textarea:focus {
  border-color: #2c82c7;
  box-shadow: inset 0 1px 0 0 #d0d0d0,0 0 1px 1px rgba(44,130,199,0.6);
}

.review-form button {
  color: #fff;
  background: #2c84cc;
  text-align: center;
  margin-top: 14px;
  padding: 0 21px;
  display: inline-block;
  width: 20%;
  transition: background 200ms;
  border-radius: 3px;
  line-height: 2.5em;
}

.review-form button:hover {
  background: #016da3;
  color: #fff;
  text-decoration: none;
}

.form-rating > div{
  transform: scale(1.5);
  position: static;
  display: block;
  box-sizing: border-box;
  height: 20px;
}

.form-rating {
  color: #7CB228;
  display: inline-block;
  margin-left: 14px;
  width: 150px;
  display: flex;
  align-items: flex-start;
}

.form-container {
  width: calc(67% - 14px);
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
  border-radius: 2px;
  float: left;
  padding: 14px;
}

.review-sidebar {
  position: relative;
  float: right;
  width: 33%;
  max-width: 437px;
  margin-bottom: 14px;
  margin-left: 14px;
  padding: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
  background-color: #fff;
}

.review-sidebar p {
  font-weight: 300;
  font-size: 14px;
}

.review-sidebar li {
  font-size: 14px;
  font-weight: 300;
  list-style: circle;
  margin-left: 16px;
}

.strong {
  font-weight: bold;
}

.bullet-list {
  list-style: square;
}

.input-label {
  font-weight: bold;
  font-size: 14px;
  margin: 14px 0;
  display: block;
  box-sizing: border-box;
}

.review-form > a {
  margin-left: 14px;
}

.review-form > h3 {
  padding-top: 14px;
  font-weight: bold;
}

.form-container > p {
  font-size: 14px;
  font-weight: 300;
  color: #7f7f7f;
}

.button-right {
  display: inline-block;
  float: right;
  color: #aaa;
  font-weight: 300;
  font-size: 12px;
}

.button-right a {
  color: #fff;
  background: #2c84cc;
  box-shadow: 0 2px 0 0 #336c9b;
  text-align: center;
  padding: 0 21px;
  display: inline-block;
  transition: background 200ms;
  border-radius: 3px;
  line-height: 2.5em;
  font-weight: 500;
  position: relative;
}

.button-right a:hover {
  background: #016da3;
  color: #fff;
  text-decoration: none;
}

.mini-logo {
  padding: 14px 0;
  width: 60px;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.mini-logo img {
  border-radius: 2px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  padding: 3px;
  border: 1px solid #DEDEDE;
  position: relative;
  z-index: 2;
}

.review-age {
  font-size: 12px;
  color: #7f7f7f;
  margin: 0;
  padding: 0;
}

.top-info {
  float: left;
  display: inline-block;
}

.review-title {
  font-size: 18px;
  font-weight: 500;
  color: #2C84CC;
  margin-top: 30px;
  display: inline-block;
}

.review-index-item {
  padding: 14px 0;
  border-bottom: 1px solid #ccc;
}

.details {
  font-size: 12px;
  color: #7f7f7f;
  display: inline-block;
}

.review-item-body {
  padding-left: 80px;
  font-size: 14px;
  font-weight: 300;
}

.review-rating-summary {
  color: #7CB228;
  display: inline-block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  padding: 14px 0;
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-rating-summary > div {
  transform: scale(1.5);
  margin-left: 20px;
}

.review-index-container {
  margin: 0 auto;
  max-width: 1000px;
}
